  
header {
    background-color: #323e52;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
}

body {
    background-color: #c0c0c0;
}
  
.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-top: 3rem;
}
  
.bio img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
  
.bio p {
    margin-top: 1rem;
    text-align: center;
    max-width: 600px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
}
  
nav a:hover {
    text-decoration: underline;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}
  
nav li {
    margin: 0 10px;
}

.grid-container {
    padding: 30px;
    margin: 20px;
}

.project-grid {
    margin: 5px;
}
  
.project-card {
    background-color: #f0f0f0;
    margin: 5px;
    min-width: 400px;
    min-height: 400px;
}

.project-card-header {
    margin: 5px;
}

.project-card-title,
.project-card-subtitle {
    text-align: center;
}


.project-card-body {
    align-items: left;
    justify-content: left;
    text-align: left;
    margin: 5px;
}

.project-card-footer {
    align-items: right;
    justify-content: right;
    text-align: right;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}
  
footer a {
    color: #fff;
    text-decoration: none;
}
  
footer a:hover {
    text-decoration: underline;
}

.my-brand {
    margin: 0 20px;
}

.card-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-time {
    float: right;
    font-weight: lighter;
}

.card-img-top {
    width: 100%;
    /*height: 18vw;*/
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 35vh;
    opacity: 0.85;
}

